body {
  font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
  font-size: 14px;
}

p {
  overflow-wrap: break-word;
}

.header {
  height: 7%;

  .header__title {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    float: left;
    background-color: #F2F1F1;
    font-size: 300%;

    @media screen and (max-width: 1400px) {
      font-size: 200%;
    }
  }

  .header__buttons-bar {
    position: relative;
    text-align: center;
    width: 50%;
    height: 100%;
    float: left;
    background-color: #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.left-panel {
  background-color: #E1E1E1;
  position: absolute;
  height: 93%;
  width: 20%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  h1 {
    padding: 2% 4%;
    position: relative;
  }

  .left-panel__blocks {
    flex: 0 1 30%;
    width: 100%;
  }

  .left-panel__emotions {
    flex: 1 1 auto;
  }
}

.blocks {
  .blocks__phrase {
    margin-top: 5%;
    border-radius: 10px;
    width: 80%;
    color: black;
    padding: .5em;
    margin-left: 10%;
    text-align: center;
    text-decoration: none;
  }

  .blocks__phrase_bot {
    background-color: #ffcc00;
    border: 8px solid #ffaa33;
    font-size: 100%;
  }

  .blocks__phrase_human {
    background-color: #33BBFF;
    border: 8px solid #0C6E9E;
    font-size: 16px;
  }

  @media screen and (max-width: 1400px) {
    margin-top: 2.5%;
    width: 90%;
    left: 5%;
  }
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.default {
  margin-left: 5%;
}

.default:hover {
  color: white;
}

.add_emotion {
  margin-left: 5%;
}

.add_emotion:hover {
  color: white;
}

.emotions__list {
  background-color: #C1C1C1;
  position: relative;
  margin-left: 5%;
  width: 90%;
  padding-top: 7%;
  border-radius: 6px;
  overflow-y: auto;
  flex-grow: 1;
  margin-bottom: .5em;
}


.emotion_line input {
  position: relative;
  background-color: #808080;
  border: 8px solid #373737;
  border-radius: 10px;
  color: black;
  width: 60%;
  margin-left: 10%;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 100%;
}

.delete_emotion {
  margin-left: 5%;
}

.icon_center {
  vertical-align: middle;
}

@media screen and (max-width: 1400px) {
  .icon_center {
    vertical-align: middle;
    font-size: 150%;
  }
}

.delete_emotion:hover {
  color: white;
}

.load_emotion {
  margin-left: 5%;
}

.load_emotion:hover {
  color: white;
}


@media screen and (max-width: 1400px) {
  .load_emotion {
    margin-left: 2%;
  }

  .delete_emotion {
    margin-left: 2%;
  }
}

#cy {
  position: absolute;
  left: 20%;
  display: inline-block;
  border: 4px solid #D4D5DB;
  width: 60%;
  height: 93%;
}

.right-panel {
  position: absolute;
  left: 80%;
  width: 20%;
  height: 93%;
  text-align: center;
  background-color: #E1E1E1;
}

#image_place {
  position: absolute;
  left: 3%;
  width: 94%;
  display: block;
  border: 4px solid #D4D5DB;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#bot_gif {
  max-height: 100%;
  max-width: 100%;
}

#emotion_text {
  position: absolute;
  top: 41%;
  width: 70%;
  margin-left: 15%;
  font-size: 150%;
}

#chat {
  position: absolute;
  margin-left: 5%;
  top: 50%;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  height: 40%;
  padding-top: 4%;
  overflow-y: auto;
}

.bot_message {
  margin-left: 2%;
  width: 60%;
  display: inline-block;
  float: left;
  background-color: #ffcc00;
  border-radius: 1em 1em;
  color: white;
}

.human_message {
  margin-right: 2%;
  width: 60%;
  display: inline-block;
  float: right;
  background-color: #33BBFF;
  border-radius: 1em 1em;
  color: white;
}

.left-panel__emotions {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}